*, *::before, *::after {
    outline: none;    
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    border: none;
    background: none;
    background-color: none;
}

::-webkit-scrollbar {
    width: 4px;
    height: 1px;
    padding: 3px;
    border-radius: 3px;    
    /* background: #cccc; */
}

::-webkit-scrollbar-thumb {
    width: 3px;
    height: 3px;    
    border: 1px solid var(--base-gray-300);
    border-radius: 5px;
    background-color: var(--base-gray-100);
}

html,body, #root {
    height: 100vh;
    background-color: var(--base-white-600);

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--base-gray-500);
}

#root {
    position: relative;
}

input, textarea, select {
    width: 100%;
    height: 3.375rem;
    border-radius: 8px;
    padding: 16px;
    outline: 1px solid var(--base-gray-200);
    background: transparent;

    box-sizing: border-box;

    font-size: 16px;
    color: var(--base-gray-600);    
}

input:focus, textarea:focus, select:focus {
    outline: 1px solid var(--secondary-blue-dark);
}

input::placeholder {
    color: var(--base-gray-300);
}

.remove-caret{
    caret-color: transparent;
}

.cursor-default {
    cursor: default;
}

.user-no-select {
    user-select: none;
}

.font-bold {
    font-weight: bold;
}
.font-normal {
    font-weight: normal;
}

.text-upper-first {
    text-transform: capitalize;
}

.wrapper {
    width: 46rem;
    height: auto;

    margin: 0 auto;
    margin-top: 3.875rem;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3.875rem;
}

.footer-text {
    width: auto;

    text-align: center;
    margin: 0 auto;

    font-size: 0.8rem;
    color: var(--base-white-700);
}

.footer-text a {
    text-decoration: none;

    font-weight: 600;    
    color: inherit;
    /* color: var(--secondary-blue-dark); */
}

.footer-text a:visited {
    color: inherit;
    /* color: var(--secondary-blue-dark);     */
}

@media screen and (max-width: 768px) {
    html, body, #root,.wrapper {
        width: 100%;
    }
    
    html {
        /*
            The font size will be 87.5 percent from font size base from device

            Follow the calc base to 87.5 -> MS * 1000 / SFD

            14 * 1000 / 16
        */
        font-size: 87.5%;
    } 
    
    
}