.todo {
    width: 100%;
    min-height: 4.5rem;
    height: auto;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--base-gray-200);
    /* box-shadow: 0px 30px 24px -16px var(--base-gray-shadow-300); */
    background-color: var(--base-white-800);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.75rem;
}

.inputCheckWrapper {
    position: relative;
}

.inputCheckWrapper svg {
    transform: scale(1.1);
    fill: var(--base-white-100);
    
    display: none;
    
    cursor: pointer;

    position: absolute;
    top: 0.65rem;
    left: 0.62rem;    
}

.inputCheck {
    transform: scale(0.5);
    width: 0.6rem;
    height: 0.6rem;

    border-radius: 50%;   
    border: 2px solid var(--secondary-blue);
    background: transparent; 
    cursor: pointer;

    -webkit-appearance: none;
    appearance: none;    
}

.inputCheck:not(:checked):hover {
    background-color: var(--secondary-blue-dark);
}

.inputCheck:checked:hover {
    border: 2px solid var(--secondary-purple);
    background-color: var(--secondary-purple);
}

.inputCheck:checked {
    border: 2px solid var(--secondary-purple-dark);
    background-color: var(--secondary-purple-dark);
}

.inputCheck:checked ~ svg {
    display: block;
}

.todo p {
    width: 100%;
    word-wrap: break-word;
    padding-top: 0.4rem;
}

.todo button {
    border-radius: 4px;
    background: transparent;
    padding: 0.5rem;

    line-height: 0;
    cursor: pointer;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.todo button:hover {
    background-color: var(--base-white-700);
}

.todo button svg {
    fill: var(--base-gray-300) !important;
    transform: scale(1.2);
}

.todo button:hover svg {
    fill: var(--base-danger) !important;    
}

@media screen and (max-width: 764px) {
    .todo {
        width: 100%;
        overflow: hidden;        
    }

    .todo p {
        overflow: hidden;
        word-wrap: none;
        word-break: keep-all;
        text-overflow: ellipsis;
    }

    .inputCheckWrapper svg {
        top: 0.7rem;
        left: 0.7rem;
    }
}