:root {
    /*
     Base colors
    */
    --base-danger: #E25858;
    --base-gray-100: #F2F2F2;
    --base-gray-200: #D9D9D9;
    --base-gray-300: #808080;
    --base-gray-400: #333333;
    --base-gray-500: #262626;
    --base-gray-600: #1A1A1A;
    --base-gray-700: #0D0D0D;

    /*
        Base shadow colors
    */
    --base-danger-shadow-90-: #E2585890;
    --base-gray-shadow-90-100: #F2F2F290;
    --base-gray-shadow-90-200: #D9D9D990;
    --base-gray-shadow-300: #7272722b;
    --base-gray-shadow-90-400: #33333390;
    --base-gray-shadow-90-500: #26262690;
    --base-gray-shadow-90-600: #1A1A1A90;
    --base-gray-shadow-90-700: #0D0D0D90;

   /*
    Secodanry colors
   */ 
    --secondary-purple: #8284FA;
    --secondary-purple-dark: #5E60CE;
    --secondary-blue: #4EA8DE;
    --secondary-blue-dark: #1E6F9F;

    /*
     Light Base colors
    */
    --base-danger: #E25858;
    --base-white-100: #ffffff;
    --base-white-200: #fdfdfd;
    --base-white-300: #fcfcfc;
    --base-white-400: #fafafa;
    --base-white-500: #f3f3f3;
    --base-white-600: #ebebeb;
    --base-white-700: #d3d3d3;   
    --base-white-800: #dddddd;   
}